* {
  margin: 0;
  padding: 0;
  /*border: 1px solid rebeccapurple;*/
}

.body_style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop_index {
  width: 1600px;
  height: 3600px;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Header {
  width: 1600px;
  height: 75px;
  flex-shrink: 0;
  background-color: #222222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.logo_header {
  width: 110.999px;
  height: 38px;
  flex-shrink: 0;
  gap: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_logo_header {
  width: 44px;
  height: 38px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
  background: transparent;
}

.img_header {
  width: 26.002px;
  height: 26.792px;
  flex-shrink: 0;
  background: #e8e8e8;
  background: transparent;
}

.Button_header {
  width: 158.996px;
  height: 29px;
  flex-shrink: 0;
  background: transparent;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Button_img {
  width: 32px;
  height: 23px;
  flex-shrink: 0;
  background: transparent;
}

.section_header {
  width: 1600px;
  height: 764px;
  flex-shrink: 0;
  background: #f1e4e6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img_section {
  width: 800.58px;
  height: 764px;
  flex-shrink: 0;
  background: transparent;
}

.item-a {
  grid-area: img;
}
.item-b {
  grid-area: text1;
}
.item-c {
  grid-area: text2;
}

.text_section {
  width: 429px;
  height: 93.099px;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 12px 1fr;
  grid-column-gap: 16px;
  grid-template-areas:
    "img text1"
    "img text2";
  justify-items: start;
  align-content: space-evenly;
  align-items: center;
}

.h1_text,
.h2_text1,
.h2_text2 {
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

.h1_text {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}

.h2_text1,
.h2_text2 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}

.h2_text2 {
  color: #f16d7f;
}

.img_text {
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background: #f16d7f;
}

.Product {
  width: 1600px;
  height: 2925px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.item-1 {
  grid-area: img1;
}

.item-2 {
  grid-area: img2;
}

.item-3 {
  grid-area: img3;
}

.item-4 {
  grid-area: img4;
  width: 1140px;
  height: 180px;
  background: #000;
}

.item-1,
.item-2,
.item-3 {
  background: #000;
  width: 360px;
  height: 260px;
}

.offer {
  width: 1140px;
  height: 470px;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-areas:
    "img1 img2 img3"
    "img4 img4 img4";
  justify-items: stretch;
}

.for_123 {
  width: 360px;
  height: 260px;
  text-align: center;
  opacity: 0.3;
}

.for_4 {
  width: 1140px;
  height: 180px;
  flex-shrink: 0;
  background-color: rgba(33, 22, 22, 0.7);
  opacity: 0.3;
}

.for_123text,
.for_4text {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.for_123text {
  position: absolute;
  padding-left: 120px;
  padding-top: 110px;
}

.for_4text {
  position: absolute;
  padding-left: 490px;
  padding-top: 70px;
}

.h_text {
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item-titl1 {
  grid-area: titl1;
}
.item-titl2 {
  grid-area: titl2;
}

.item-img1 {
  grid-area: img1;
}
.item-img2 {
  grid-area: img2;
}
.item-img3 {
  grid-area: img3;
}
.item-img4 {
  grid-area: img4;
}
.item-img5 {
  grid-area: img5;
}
.item-img6 {
  grid-area: img6;
}

.item-button {
  grid-area: button;
}

.products {
  width: 1140px;
  height: 1395px;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-areas:
    "titl titl1 tilt1"
    "titl titl2 tilt2"
    "img1 img2 img3"
    "img4 img5 img6"
    "button button button";
  justify-items: center;
}

.borders {
  width: 360px;
  height: 587px;
  flex-shrink: 0;
  display: grid;
  align-content: space-between;
  justify-content: space-around;
}

.img_product,
.img_product2 {
  list-style: none;
  margin: 0 auto;
  width: 360px;
  height: 420px;
  text-align: center;
  padding: 0;
}

.img_product li,
.img_product2 li {
  position: relative;
  width: 360px;
  height: 420px;
  display: inline-block;
  background-color: #fff;
  margin: 0;
  box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.img_product li .button_product,
.img_product2 li .button_product2 {
  width: 139px;
  height: 44px;
  display: block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.img_product li .button_product:hover,
.img_product2 li .button_product2:hover {
  background: #454545;
  color: #fff;
}

.img_product li > div.effect-to-right,
.img_product2 li > div.effect-to-right {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img_product li:hover > div.effect-to-right,
.img_product2 li:hover > div.effect-to-right {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.img_product li div.effect-to-right,
.img_product2 li div.effect-to-right {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  color: #fff;
  transform: translate(-250px, 0px) rotate(0deg);
}
.img_product li:hover div.effect-to-right,
.img_product2 li:hover div.effect-to-right {
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);
}

.img_product2 {
  background: #f7e4e2;
  display: grid;
  justify-content: center;
  align-content: center;
}

.img_photo {
  width: 141.943px;
  height: 400px;
}

.title_price {
  width: 360px;
  height: 166px;
  display: flex;
  gap: 16px;
  margin: 20px 0px 0px 30px;
  flex-direction: column;
  align-items: flex-start;
}

.h1_product {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p_product {
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.p_price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h2_titl {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p_titl {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Buttom {
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #ff6a6a;
}

.item-feature1 {
  grid-area: feature1;
}
.item-feature2 {
  grid-area: feature2;
}
.item-feature3 {
  grid-area: feature3;
}

.Feature {
  width: 1600px;
  height: 341px;
  background-color: #222224;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.Feature1 {
  width: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1ft;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-areas: "feature1 feature2 feature3";
  justify-items: center;
  align-content: center;
}

.Feature2 {
  width: 360px;
  height: 150px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p_Feature1,
.p_Feature2 {
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

.p_Feature1 {
  font-size: 19.96px;
  font-weight: 400;
}

.p_Feature2 {
  font-size: 13.972px;
  font-weight: 300;
}

.Frame {
  width: 1600px;
  height: 448px;
  background-color: rgba(244, 244, 244, 0.7);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.Frame1 {
  width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-areas: "feature1 feature2";
  justify-items: center;
  align-content: center;
}

.Frame2 {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Frame3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-template-areas: "feature1 feature1" "feature2 feature3";
  justify-items: center;
  align-content: center;
}

.p_Frame1,
.p_Frame2 {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.p_Frame1 {
  width: 360px;
  height: 99px;
  font-size: 20px;
}

.p_Frame2 {
  width: 557px;
  height: 61px;
  font-size: 18px;
  line-height: 167.2%;
}

.img_Frame1 {
  width: 256px;
  height: 49px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.img_Frame2 {
  width: 100px;
  height: 49px;
  color: #f16d7f;
}

.Copyright {
  width: 1600px;
  height: 79px;
  background-color: #222224;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Copyright1 {
  width: 1600px;
  height: 79px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-areas: "feature1 feature2";
  justify-items: center;
  align-content: center;
}

.p_Copyringht {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button_Copyringht {
  width: 32px;
  height: 32px;
}

.img_Copyringht1 {
  background: transparent url(//img/Rectangle\ 14.svg) no-repeat;
  width: 32px;
  height: 32px;
}

.button_Copyringht:hover {
  background: #f16d7f;
}

.img_Copyringht2 {
  position: absolute;
  margin: -9px -6px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .desktop_index {
    width: 768px;
    height: 4500px;
    background: #ffffff;
  }

  .Header {
    width: 768px;
    height: 74px;
  }

  .section_header {
    width: 768px;
    height: 367.567px;
  }

  .img_section {
    width: 386px;
    height: 368px;
  }

  .logo_header {
    width: 44px;
    height: 38px;
  }

  .img_logo_header {
    width: 26.002px;
    height: 26.792px;
  }

  .img_header {
    width: 26.002px;
    height: 26.792px;
  }

  .Button_header {
    width: 158.996px;
    height: 29px;
    flex-shrink: 0;
    background: transparent;
  }

  .text_section {
    width: 311px;
    height: 70px;
  }

  .h1_text {
    font-size: 40px;
  }

  .h2_text1,
  .h2_text2 {
    font-size: 20px;
  }

  .Product {
    width: 768px;
    height: 2534px;
    display: flex;
    flex: 1;
  }

  .item-4 {
    width: 734.581px;
    height: 116.043px;
  }

  .item-1,
  .item-2,
  .item-3 {
    width: 231.973px;
    height: 167.617px;
  }

  .offer {
    width: 735.999px;
    height: 303.043px;
    justify-items: center;
    justify-content: center;
    align-content: center;
  }

  .for_123 {
    width: 231.973px;
    height: 167.617px;
  }

  .for_4 {
    width: 734.581px;
    height: 116.043px;
  }

  .for_123text {
    padding-left: 50px;
    padding-top: 65px;
  }

  .for_4text {
    position: absolute;
    padding-left: 285px;
    padding-top: 45px;
  }

  .products {
    width: 768px;
    height: 1395px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas:
      "titl1 titl1"
      "titl2 titl2"
      "img1 img2"
      "img3 img4"
      "img5 img6"
      "button button";
    justify-items: center;
    align-content: center;
  }

  .Feature {
    width: 768px;
    height: 610px;
  }

  .Feature1 {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-areas: "feature1" "feature2" "feature3";
    justify-items: center;
    align-content: center;
  }

  .Frame {
    width: 768px;
    height: 693px;
  }

  .Frame1 {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    grid-template-areas: "feature1" "feature2";
    justify-items: center;
    align-content: center;
  }

  .Frame3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    grid-template-areas: "feature1" "feature2" "feature3";
    justify-items: center;
    align-content: center;
  }

  .Copyright {
    width: 768px;
    height: 79px;
  }

  .Copyright1 {
    width: 768px;
    height: 79px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    grid-template-areas: "feature1 feature2";
    justify-items: center;
    align-content: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .desktop_index {
    width: 375px;
    height: 7500px;
    background: #ffffff;
    display: flex;
    gap: 30px;
  }

  .Header {
    width: 375px;
    height: 74px;
  }

  .section_header {
    width: 375px;
    height: 363px;
  }

  .img_section {
    width: 0px;
    height: 0px;
  }

  .logo_header {
    width: 44px;
    height: 38px;
  }

  .img_logo_header {
    width: 26.002px;
    height: 26.792px;
  }

  .img_header {
    width: 26.002px;
    height: 26.792px;
  }

  .Button_header {
    width: 32px;
    height: 23px;
    background: transparent;
  }

  .text_section {
    width: 311px;
    height: 70px;
  }

  .h1_text {
    font-size: 40px;
  }

  .h2_text1,
  .h2_text2 {
    font-size: 20px;
  }

  .Product {
    width: 375px;
    height: 4000px;
    display: flex;
    flex: 1;
  }

  .item-4 {
    width: 320px;
    height: 111p;
  }

  .item-1,
  .item-2,
  .item-3 {
    width: 320px;
    height: 247px;
  }

  .offer {
    width: 320px;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4";
    justify-content: center;
    align-content: stretch;
  }

  .for_123 {
    width: 320px;
    height: 247px;
  }

  .for_4 {
    width: 320px;
    height: 111px;
  }

  .for_123text {
    padding-left: 60px;
    padding-top: 85px;
  }

  .for_4text {
    position: absolute;
    padding-left: 65px;
    padding-top: 85px;
  }

  .products {
    width: 375px;
    height: 3000px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas:
      "titl1"
      "titl2"
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6"
      "button";
    justify-items: center;
    align-content: center;
  }

  .Feature {
    width: 375px;
    height: 610px;
  }

  .Feature1 {
    width: 375px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: "feature1" "feature2" "feature3";
    justify-items: center;
    align-content: center;
  }

  .Frame {
    width: 375px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  
  .Frame1 {
    width: 375px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: "feature1" "feature2";
    justify-items: center;
    align-content: center;
  }
    
  .Frame3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    grid-template-areas: "feature1 feature1" "feature2 feature3";
    justify-items: center;
    align-content: center;
  }
  
  .p_Frame1 {
    width: 320px;
  }
  
  .p_Frame2 {
    width: 320px;
  }
  
  .img_Frame1 {
    width: 230px;
  }
  .img_Frame2 {
    width: 70px;
  }
  
  .Copyright {
    width: 375px;
    height: 160px;
  }
  
  .Copyright1 {
    width: 375px;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    grid-template-areas: "feature1" "feature2";
    justify-items: center;
    align-content: center;
  }
  
  .img_Copyringht2 {
    position: absolute;
    margin: -8px -7px;
  }
}
